@charset "UTF-8";
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* 질문 게시판 css 시작 */

#question_board_container{
    width: auto;
    height: 200px;
    text-align: center;
    
}

.question_board{
	font-family: 'Noto Sans KR', sans-serif;
    margin:0;
    font-size:30px;
    line-height: 200px;
}
#question_table_container{
    width: 1000px;
    height: auto;
    margin-top: 0%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.question_table{
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

.th{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: none;
    border-right: none;
    text-align: center;
    padding: 15px;
}

.td{
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    padding: 15px;
    text-align: center;
    font-size: 16px;
}

.td-color{
    background-color: rgb(252, 255, 53);
}
#question_bottom_container{
    margin-top: 30px;
    width: 1000px;
    height: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

/* 질문게시판 css 끝 */

/* 글쓰기 css 시작 */
    /* 문의하기, 등록 버튼 css*/
#write_top_container{
     margin-top: 60px;
     width: 1000px;
     height: 40px;
     position: relative;
     left: 50%;
     transform: translateX(-50%);
     display: inline-block;
     border-bottom: 1px solid gray;
 }

 #write_top_container>p{
     font-size: 20px;
     font-weight: bold;
 }
 #checkBtn{
     width: 50px;
     font-weight: bold;
     margin-top: 12px;
     float:right;
 }
 
    /* 제목, 내용 css */
#write_container{
    width: 1000px;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}
#write_title{
    width: 998px;
    height: 30px;
    padding: 0px;
}
#write_contents{
    width: 996px;
    height: 500px;
    margin-top: 10px;
}
    /* 비밀번호, 목록 버튼 css*/
    #write_bottom_container{
        margin-top: 10px;
        width: 998px;
        height: 60px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    #write_password_container{
        border:1px solid black;
        width: 1000px;
        height: auto;
        border-collapse: collapse;
    }
    #table_container>th,td{
        border:1px solid black;
    }
    .td_password{
        width: 100px;
    }
    .back_button{
        margin-top: 10px;
        width:100px;
    }
    .password_table{
        margin-left: 4px;
    }
/* 글쓰기 css 끝 */

/* 상품문의 css 시작 */

#write_answer_container{
    margin-top: 30px;
    width: 1000px;
    height: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid black;
}
#write_answer_container>span>p{
    font-size: 20px;
    font-weight: bold;
    float: left;
}

    /* 상품문의 상단 css */
#write_answer_title_container{
	margin-top: 20px;
    width: 1000px;
    height: 80px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid gray;
	display:inline-block;

}

    /* 상품문의 제목, 내용 css */
#write_content_container{
	margin-top:15px;
	margin-bottom:15px;
	border-bottom: 1px solid gray;
	display:inline-block;
    width: 1000px;
    height: 300px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#write_comment_container{
    width: 1000px; 
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#content{
    width: 1000px;
    height: 40px;
}

    /* 댓글등록, 댓글창, 목록버튼, 등록버튼 css*/
#write_comment{
    width: 1000px;
    height: 60px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#write_answer_comment{
    width: 992px;
    height: 60px;
}
.write_anwser_button{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}
.write_anwser_button_back{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
    float: right;
}
/* 상품문의 css 끝 */

/* 자주 묻는 질문 css 시작 */
#FAQ_board{
    width: auto;
    height: 200px;
    text-align: center;
    
}
.FAQ_board_title{
	font-family: 'Noto Sans KR', sans-serif;
    margin:0;
    font-size:30px;
    line-height: 200px;
}
#FAQ_table_container{
    width: 1000px;
    height: auto;
    margin-top: 0%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#FAQ_table{
    width: 1000px;
    height: auto;
    border-collapse: collapse;
}
.td_title{
    width: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    border-left: none;
    border-right: none;
}

.td_content{
    border-bottom: 1px solid black;
    padding: 15px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    border-left: none;
    border-right: none;

}
#FAQ_bottom_container{
    width: 1000px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
/* 자주 묻는 질문 css 끝 */

/* 비밀번호 입력창 css 시작 */
#password_board{
    width: auto;
    height: 200px;
    text-align: center;
    
}
.password_board{
    margin:0;
    font-size:30px;
    line-height: 200px;
}
#password_container{
    width: 1000px;
    height: 300px;
    padding-top: 100px;
    margin-top: 0%;
    margin-bottom: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid gray;
}
.p_content{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.search_form{
    width: auto;
    height: 40px;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.form{
    text-align: center;
}
.password_btn{
	width:60px;
}

/* 비밀번호 입력창 css 끝*/

/* test.jsp의 css 시작 */
#FAQ_table_container{
    width: 1000px;
    height: auto;
    margin-top: 0%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    }

    #FAQ_table{
        width: 1000px;
        height: auto;
        border-collapse: collapse;
    }

    .td_title{
    width: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    border-left: none;
    border-right: none;
    }
    .menu{
        border-bottom: 1px solid black;
        font-weight: bold;
    }
    .menu_list{
        list-style: none;
    }
    .menu_list{
        cursor:pointer;
    }
    .hide{
        display:none;
        padding:0px
    }
    .FAQ_list{
        padding-top: 25px;
        list-style: none;
        background-color: rgb(255, 242, 186);
        height: 50px;
        border-bottom: 2px solid gray;
        font-size:30px;
    }
    .FAQ_list2{
        padding-top: 25px;
        list-style: none;
        font-size:30px;
        background-color: rgb(255, 242, 186);
        height: 50px;
    }
/* test.jsp의 css 끝 */